@media only screen and (max-width: 320px) {
  /* HOME PAGE */
  .all__movie__stuff {
    margin-left: 0 !important;
    margin-right: 580px !important;
  }
  .movie__list {
    margin-right: 260px !important;
  }
  .movie__hover__button {
    font-size: 14px; /* Reduced font size from 16px to 14px */
    font-weight: 200;
    line-height: 20px; /* Adjusted line height to match new font size */
    opacity: 1;
    outline: 0 solid transparent;
    padding: 6px 14px;
    margin-right: 16px !important;
    margin-left: -4px !important;
  }
  .movie__background__text {
    margin-left: -100px !important;
  }
  .movie__background__title {
    font-size: 26px;
    margin-right: 2px;
  }
  .movie__background__para {
    font-size: 16px !important;
    width: 140px;
    margin-left: -330px !important;
  }
  .movie {
    width: 150px !important;
    height: 100%;
    margin-right: 80px;
  }
  .movie__search__title {
    margin-left: -30px;
    font-size: 24px;
  }
  /* SIDEBAR */
  .sidebar__title {
    margin-left: -10px;
  }
  .sidebar {
    width: 70px;
  }
  /* MOVIE PAGE */
  ::placeholder {
    font-size: 20px;
  }
  .noResultsWrapper {
    margin-left: 0;
    margin-right: -10px;
    width: 100px;
  }
  .message__noResult {
    margin-right: -100px;
    margin-left: 50px;
  }
  .all__movies__stuff__page {
    width: 40%;
    max-width: 100%;
    margin-left: -30px;
  }
  .movie__list__page {
    margin-left: -50px;
  }
  .spinner {
    margin-left: 100px;
    font-size: 30px;
  }
  /* MOVIE INFO */
  .selected-product {
    flex-direction: column;
  }
  .selected-product__left,
  .selected-product__right {
    width: 100%;
  }
  .selected-product__right {
    margin-top: 220px;
    margin-right: 200px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-left: 10px;
  }
  .movie__details__release-date {
    text-align: center;
  }
  .movie__details__runtime {
    margin-top: 10px;
  }
  .movie__details__rating {
    margin-top: 20px;
  }
  .selected-product__para {
    font-size: 15px;
  }

  .selected-product__left {
    height: 50%;
    width: 60%;
    margin-left: -14px !important;
  }
  .selected-product__right {
    width: 50%;
    height: 20%;
    margin-top: 20px !important;
  }
  .selected-product__img__wrapper {
    height: auto;
  }

  .selected-product__img {
    width: 80%;
  }
}

@media only screen and (max-width: 375px) {
  /* HOME PAGE */
  .all__movie__stuff {
    margin-left: 0 !important;
    margin-right: 530px !important;
  }
  .movie__list {
    margin-right: 230px !important;
  }

  .movie__background__title {
    margin-right: 516px !important;
  }
  .movie__background__para {
    margin-right: 520px !important;
  }
  .movie {
    width: 190px;
  }
  /* SIDEBAR */
  .sidebar__title {
    margin-left: -10px;
  }
  .sidebar {
    width: 70px;
  }

  .all__movies__stuff__page {
    width: 40%;
    max-width: 100%;
    margin-right: 100px;
  }
  /* MOVIE INFO */
  .selected-product {
    flex-direction: column;
  }
  .selected-product__left,
  .selected-product__right {
    width: 100%;
  }
  .selected-product__right {
    margin-top: 220px;
    margin-right: 200px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-left: 10px;
  }
  .movie__details__release-date {
    text-align: center;
  }
  .movie__details__runtime {
    margin-top: 10px;
  }
  .movie__details__rating {
    margin-top: 20px;
  }
  .selected-product__para {
    font-size: 15px;
  }

  .selected-product__left {
    height: 50%;
    width: 60%;
    margin-left: -14px !important;
  }
  .selected-product__right {
    width: 50%;
    height: 20%;
    margin-top: 20px !important;
  }
  .selected-product__img__wrapper {
    height: auto;
  }

  .selected-product__img {
    width: 80%;
  }
}
@media (max-width: 414px) {
/* HOME PAGE */
.all__movie__stuff {
  margin-left: 0 !important;
  margin-right: 520px !important;
}
.movie__list {
  margin-right: 150px !important;
}
.movie__hover__button {
  font-size: 14px; /* Reduced font size from 16px to 14px */
  font-weight: 200;
  line-height: 20px; /* Adjusted line height to match new font size */
  opacity: 1;
  outline: 0 solid transparent;
  padding: 6px 14px;
  margin-right: 16px !important;
  margin-left: -4px !important;
}
.movie__background__text {
  margin-left: -120px !important;
}
.movie__background__title {
  font-size: 26px;
  margin-right: 2px;
}
.movie__background__para {
  font-size: 16px !important;
  width: 140px;
  margin-left: -330px !important;
}
.movie {
  width: 150px !important;
  height: 280px;
  margin-right: 80px;
}
.movie__search__title {
  margin-left: 28px;
  font-size: 20px;
}
/* SIDEBAR */
.sidebar__title {
  margin-left: -10px;
}
.sidebar {
  width: 70px;
}
/* MOVIE PAGE */
::placeholder {
  font-size: 20px;
}
.noResultsWrapper {
  margin-left: 0;
  margin-right: -10px;
  width: 100px;
}
.message__noResult {
  margin-right: -100px;
  margin-left: 50px;
}
.all__movies__stuff__page {
  width: 40%;
  max-width: 100%;
  margin-left: -30px;
}
.movie__list__page {
  margin-left: -50px;
}
.spinner {
  margin-left: 130px;
  font-size: 30px;
}
/* MOVIE INFO */
.selected-product {
  flex-direction: column;
}
.selected-product__left,
.selected-product__right {
  width: 100%;
}
.selected-product__right {
  margin-top: 220px;
  margin-right: 200px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-left: 10px;
}
.movie__details__release-date {
  text-align: center;
}
.movie__details__runtime {
  margin-top: 10px;
}
.movie__details__rating {
  margin-top: 20px;
}
.selected-product__para {
  font-size: 15px;
}

.selected-product__left {
  height: 50%;
  width: 60%;
  margin-left: -14px !important;
}
.selected-product__right {
  width: 50%;
  height: 20%;
  margin-top: 20px !important;
}
.selected-product__img__wrapper {
  height: auto;
}

.selected-product__img {
  width: 80%;
}
}

@media only screen and (max-device-width: 480px) {
  /* SIDEBAR */
  .sidebar__link {
    display: none;
  }
  .sidebar__title {
    margin-left: -10px;
  }
  .sidebar {
    width: 100px;
  }
  .sidebar__links {
    margin-left: -30px;
    align-items: center;
  }
  /* HOMEPAGE */
  .movie__list {
    max-width: 300px;
    width: 280px;
    margin-left: -100px;
  }
  .movie__background__text {
    margin-left: -60px;
  }
  /* MOVIEPAGE*/

  .all__movies__stuff__page {
    width: 60%;
    max-width: 100%;
  }
  /* MOVIE INFO */
  .selected-product {
    flex-direction: column;
  }
  .selected-product__left,
  .selected-product__right {
    width: 100%;
  }
  .selected-product__right {
    margin-top: 220px;
    margin-right: 200px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-left: 10px;
  }
  .movie__details__release-date {
    text-align: center;
  }
  .movie__details__runtime {
    margin-top: 10px;
  }
  .movie__details__rating {
    margin-top: 20px;
  }
  .selected-product__para {
    font-size: 15px;
  }

  .selected-product__left {
    height: 50%;
    width: 60%;
    margin-left: -14px !important;
  }
  .selected-product__right {
    width: 50%;
    height: 20%;
    margin-top: 20px !important;
  }
  .selected-product__img__wrapper {
    height: auto;
  }

  .selected-product__img {
    width: 80%;
  }
}

@media only screen and (max-device-width: 768px) {
  /* HOME PAGE */
  .all__movie__stuff {
    max-width: 600px;
    width: 480px;
  }
  .movie__background__para {
    margin-left: -350px;
    font-size: 20px;
    max-width: 300px;
  }
  .movie__background__title {
    margin-left: -320px;
  }
  .movie__list__page {
    max-width: 600px;
    width: 480px;
    margin-left: -16px;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (max-device-width: 1024px) {
  .all__movie__stuff {
    width: 70%;
    margin-left: 40px;
  }
  .movie__background__para {
    margin-right: 380px;
  }
  .movie__background__title {
    margin-right: 380px;
  }
  .movie__list__page {
    width: 60%;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 1280px) {
  .movie__list {
    width: 80%;
    margin-right: 220px;
  }
}
@media only screen and (max-width: 1360px) {
  .movie__list {
    width: 80%;
    margin-right: 180px;
  }
}

@media only screen and (min-width: 1500px) {
  /* HOMEPAGE */
  .movie__background__wrapper {
    width: 1600px;
  }
  .movie__list {
    margin-right: 800px;
    margin-left: -80px;
  }
  .moviepage__search {
    width: 1900px;
  }
  .movie__list__page {
    margin-left: 80px;
  }
}

@media only screen and (min-width: 1490px) {
  /* HOMEPAGE */
  .movie__background__wrapper {
    width: 1600px;
  }
  .movie__list {
    margin-right: 800px;
    margin-left: -80px;
  }
  .moviepage__search {
    width: 1900px;
  }
  .movie__list__page {
    margin-left: 80px;
  }
  .all__movie__stuff {
    margin-left: 200px;
  }
  .movie__search__title {
    margin-left: -90px;
  }
}

/* Large screens ----------- */
/* 67% zoom */
@media only screen and (min-width: 1824px) {
  /* HEADER , HOMEPAGE */
  .movie__background__wrapper {
    width: 1990px;
  }

  /* MOVIE PAGE */
  .moviepage__search {
    width: 1990px;
  }
  .movie__list__page {
    margin-left: 100px;
    margin-right: 250px;
  }
  .noResultsWrapper {
    margin-left: 600px;
  }
  .moviepage__search--button {
    display: none;
  }
  .all__movie__stuff {
    margin-left: 130px;
  }
  .movie__search__title {
    margin-right: 400px;
    margin-left: -50px;
  }
}
